# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env

# Environments
env/
venv/
ENV/
.venv/
.ENV/

# VS Code and IDE specific
.vscode/
.idea/

# Docker and Build files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.pid
*.tgz
*.gz
*.out
*.log
*.txt
node_modules/
dist/
build/
*.egg-info

# Pytest and Coverage
.pytest_cache/
.coverage
htmlcov/
*.cover

# Django Migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.log
*/migrations/__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db